ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DFFFEA;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #CBFFDE;
  }
  
  .active {
    background-color: #DFFFEA;
  }

 .header li:nth-last-child(-n+2) {
     float: right;
 }